<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body class="bg-gray-200">
    <nav class="bg-blue-500 p-4">
        <ul class="flex space-x-4">
            <li><a href="/" class="text-white">Home</a></li>
            <li><a href="/services" class="text-white">Our Services</a></li>
            <li><a href="/contact" class="text-white">Contact us</a></li>
        </ul>
    </nav>

    <div class="container mx-auto mt-8 p-4">
        <h1 class="text-4xl font-bold mb-4">Contact Us</h1>
        <p class="text-lg">Get in touch with us through the following contact information.</p>
        <address class="mt-4">
            Email: <a href="">rewaayasser@hotmail.com</a><br>
            Phone: (+20) 01100135925
        </address>
    </div>
</body>

</html>
