<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Our Services</a></li>
            <li><a href="/contact">Contact us</a></li>
        </ul>
    </nav>

    <div>
        <h1>Contact Us</h1>
        <p>Get in touch with us through the following contact information.</p>
        <address>
            Email: <a href="rewaayasser@hotmail.com">rewaayasser@hotmail.com</a><br>
            Phone: (+20) 01100135925
        </address>
    </div>
</body>

</html>
