<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services" class="text-white">Our Services</a></li>
            <li><a href="/contact" class="text-white">Contact us</a></li>
        </ul>
    </nav>

    <div>
        <h1>Welcome to our Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sit sequi repellendus id quidem voluptatem fugit ad fuga eum vel architecto sed debitis nesciunt, voluptas aperiam distinctio deleniti facere dolorum ratione harum. Quis nihil voluptatem expedita soluta voluptate alias consequuntur quas quibusdam? Aperiam exercitationem animi nulla excepturi, sequi reprehenderit repudiandae earum ipsum quidem vitae minus quibusdam ratione veniam temporibus magni. Excepturi nemo ipsam doloremque quasi optio suscipit maiores illum rem, quaerat facilis adipisci consectetur distinctio dolores culpa dignissimos. Deleniti labore illo animi, possimus quae excepturi officiis soluta odit, dicta, at cum est voluptatibus quia sapiente quis fugiat tempore iure vel?</p>
    </div>
</body>

</html>
